table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.5rem;
}

td, th {
  padding: 5px 10px;
}

td {
  text-align: center;
}

th {
  background-color: rgb(235,235,235);
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}